In [7]:
#import dependencies and csv files
import pandas as pd 

airports = pd.read_csv('airports', names=["index", "airport_name", "city", "country", "airport", "idk_id", "lat", "lng",
                                         "altitude", "timezone", "DST", "Tz", "airport_type", "source"])
delays = pd.read_csv('469260606_122019_5347_airline_delay_causes.csv')

In [11]:
airports.head(2)

,index,airport_name,city,country,airport,idk_id,lat,lng,altitude,timezone,DST,Tz,airport_type,source
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.08169,145.391998,5282,10,U,Pacific/Port_Moresby,airport,OurAirports
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.20708,145.789001,20,10,U,Pacific/Port_Moresby,airport,OurAirports

In [12]:
delays.head(2)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.0,...,2.00,0.0,0.0,114.0,61.0,0.0,0.0,0.0,53.0,NaN
1,2019,12,EV,ExpressJet Airlines LLC,BGR,"Bangor, ME: Bangor International",34.0,16.0,4.12,0.0,...,7.98,2.0,0.0,1450.0,682.0,0.0,231.0,0.0,537.0,NaN

In [16]:
#clean & drop un-needed columns

airports.dropna()
airports1 = airports[['airport_name','city', 'country','airport', 'lat','lng']]
airports1.head()

,airport_name,city,country,airport,lat,lng
0,Goroka Airport,Goroka,Papua New Guinea,GKA,-6.081690,145.391998
1,Madang Airport,Madang,Papua New Guinea,MAG,-5.207080,145.789001
2,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,-5.826790,144.296005
3,Nadzab Airport,Nadzab,Papua New Guinea,LAE,-6.569803,146.725977
4,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,-9.443380,147.220001

In [27]:
#clean & drop un-needed columns
delays.dropna()
delays.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2019,12,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.00,...,0.0,2.00,0.0,0.0,114.0,61.0,0.0,0.0,0.0,53.0
1,2019,12,EV,ExpressJet Airlines LLC,BGR,"Bangor, ME: Bangor International",34.0,16.0,4.12,0.00,...,0.0,7.98,2.0,0.0,1450.0,682.0,0.0,231.0,0.0,537.0
2,2019,12,EV,ExpressJet Airlines LLC,BHM,"Birmingham, AL: Birmingham-Shuttlesworth Inter...",65.0,13.0,4.52,0.04,...,0.0,2.48,0.0,0.0,572.0,233.0,2.0,206.0,0.0,131.0
3,2019,12,EV,ExpressJet Airlines LLC,BNA,"Nashville, TN: Nashville International",120.0,41.0,11.01,0.74,...,0.0,15.25,6.0,0.0,2638.0,670.0,164.0,685.0,0.0,1119.0
4,2019,12,EV,ExpressJet Airlines LLC,BRO,"Brownsville, TX: Brownsville South Padre Islan...",96.0,17.0,8.01,0.00,...,0.0,4.33,1.0,0.0,1037.0,578.0,0.0,139.0,0.0,320.0

In [34]:
aviation = pd.merge(delays, airports1, on='airport', how='outer')
aviation.head()

,year,month,carrier,carrier_name,airport,airport_name_x,arr_flights,arr_del15,carrier_ct,weather_ct,...,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,airport_name_y,city,country,lat,lng
0,2019.0,12.0,EV,ExpressJet Airlines LLC,BDL,"Hartford, CT: Bradley International",14.0,4.0,2.00,0.00,...,61.0,0.0,0.0,0.0,53.0,Bradley International Airport,Windsor Locks,United States,41.9389,-72.683197
1,2019.0,12.0,F9,Frontier Airlines Inc.,BDL,"Hartford, CT: Bradley International",34.0,10.0,3.79,1.00,...,527.0,19.0,64.0,0.0,390.0,Bradley International Airport,Windsor Locks,United States,41.9389,-72.683197
2,2019.0,12.0,NK,Spirit Air Lines,BDL,"Hartford, CT: Bradley International",167.0,27.0,5.52,0.73,...,400.0,129.0,434.0,25.0,579.0,Bradley International Airport,Windsor Locks,United States,41.9389,-72.683197
3,2019.0,12.0,YV,Mesa Airlines Inc.,BDL,"Hartford, CT: Bradley International",105.0,21.0,12.00,0.00,...,630.0,0.0,94.0,0.0,853.0,Bradley International Airport,Windsor Locks,United States,41.9389,-72.683197
4,2019.0,12.0,YX,Republic Airline,BDL,"Hartford, CT: Bradley International",94.0,11.0,0.80,0.00,...,12.0,0.0,134.0,0.0,287.0,Bradley International Airport,Windsor Locks,United States,41.9389,-72.683197

In [36]:
aviation.to_csv('aviation_data.csv')